/* Top Header */
#top-header
{
    background: var(--secondarycolor);
    padding: 15px 0px;
    color:#fff;  
    position: relative;
    display:flex;
    .close-button
    {
        margin-right: 20px;
        top: 29%;
        font-size: 20px;
    }

}
header
{

    position: absolute;   
    left: 0;
    right: 0;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 999;
    transition: all 0.5s;
    @media (max-width: 767px) {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: inherit;
        background: var(--primarycolor);
    }
    .social-media
    {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: inline;
        
        a{
            background: transparent;
			border: 2px solid #fff;
			width: 32px;
			height: 32px;
			line-height: 30px;
			display: inline-block;
			margin-right: 3px;
			margin-left: 3px;
			text-align: center;
			border-radius: 20px;
			font-size: 16px;
			color: #fff;
        }
    }
    .toggle-menu
    {
        margin-left: 30px;
    }

}

/****************** Menu Control **************/
.menu-control{
    position: fixed;
    top:0px;
    background:var(--primarycolor);
    width:100%;
    height:100vh;
    z-index:1000;
    display:flex;
    padding:50px 50px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    left: -100%;
    transition: all 0.5s;
    &.active{
        left:0px;
    }
    .header__burger {
        width: 30px;
        height: 35px;
        display: inline-block;
        position: absolute;   
        margin: 0px;
        right: 15px;
        top: 15px;
        vertical-align: middle;
        cursor: pointer;
        pointer-events: initial;
        z-index: 500;
        .header__burger-line {
            position: absolute;
            width: 100%;
            height: 2px;           
            transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            background-color: #fff;
            &:nth-of-type(1) {
                top: 9px;
                left: 0;
                transform-origin: right center;
                transform: scaleX(1) rotate(45deg) translate(10px, 15px);
            }
            &:nth-of-type(2) {
                bottom: 9px;
                left: 0;
                transform-origin: right center;
                transform: scaleX(1) rotate(-45deg) translate(11px, -16px);
            }
        }

    }

    .main-menu
    {
        padding: 0px;
        margin: 0px;       
        list-style: none;
        li{
            margin-bottom: 20px;          
        }
        a{
            font-size: 40px;
            font-weight: bold;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;    
            text-decoration:none;
            text-transform:uppercase;
            &:hover{
                color:transparent;
                -webkit-text-stroke-color: var(--secondarycolor); 
                span
                {
                    color:var(--secondarycolor);
                }
            }
            span{
                display: block;               
                font-size: 16px;
                color:#fff;
                font-weight: normal;
            }

            @media (max-width: 767px) {
                font-size: 30px;
                span{                               
                    font-size: 15px;
                }
            }
        }
    }
}
